<a href='/admin/pizzas/create' class='add_pizza'>add new pizza</a>
<div class='pizza_container'>
    {{#each pizzas}}
        <div class='pizza_card'>
            <p class='pizza_id'>id: {{_id}}</p>
            <h3 class='pizza_name'>{{this.pizza_name}}</h3>
            <p class='recipe'>recipe: {{this.recipe}}</p>
            <p>price: {{this.price}}</p>
            <a href='/admin/pizzas/change/?pizza_id={{this._id}}' class='pizza_change' hred>change</a>
            <a href='/admin/pizzas/delete/?pizza_id={{this._id}}' class='delete'>delete</a>
        </div>
    {{/each}}
</div>