<style>
    .users_container{
        display:flex;
        flex-wrap: wrap;
    }
    .user_card{
        border:3px solid blue;
        border-radius:10px;
        padding: 10px;
        margin:10px;
    }
</style>

<a href='/auth/regist'>add new user</a>
<div class='users_container'>
    {{#each users}}
        <div class='user_card'>
            <p>name: {{this.username}}</p>
            <p>password: {{this.password}}</p>
            <p>address: {{this.address}}</p>
            <p>phone number: {{this.phone_number}}</p>
            <a href='/admin/users/delete/?user_id={{this._id}}'>delete</a>
        </div>
    {{/each}}
</div>