<style>
    .orders_container{
        display:flex;
        flex-wrap: wrap;
    }

    .order_card{
        border:3px solid purple;
        border-radius:10px;
        padding: 10px;
        width:300px;
        margin:10px;
    }

    .basket_container{
        border:3px solid orange;
        border-radius:10px;
        padding: 10px;
    }
</style>

<div class='orders_container'>
    {{#each orders}}
        <div class='order_card'>
            <p>address: {{this.address}}</p>
            <p>phone number: {{this.phone_number}}</p>
            <p>ordered date: {{this.date}}</p>
            <div class='basket_container'>
                {{#each this.basket}}
                    <p>{{this.pizza_description.pizza_name}} x{{this.count}}</p>
                {{/each}}
            </div>
        </div>
    {{/each}}
</div>