<style>
    .order_container{
        display:flex;
    }

    .orderlist{
        display:flex;
        flex-direction:column;
        width:300px;
        margin:0 auto;
        padding:10px;
        border:3px solid green;
        border-radius:10px;
    }

    .order_form{
        display:flex;
        flex-direction:column;
        width:200px;
        margin:0 auto;
    }

</style>

<div class='order_container'>
    <div class='orderlist'>
        <h3>your order: </h3>
        {{#each order}}
            {{pizza_description.pizza_name}} {{pizza_description.price}}  x{{count}}<br>
        {{/each}}
        <h3>total: {{totalcost}}</h3>
        <a href='/home/order/drop'>drop</a>
    </div>

    <div class='order_form'>
        <form action='order/status' method='post'>
            <label>address: </label>
            <input type='text' name='address' value={{userdata.address}}>
            <label>phone number: </label>
            <input type='text' name='phone_number' value="{{userdata.phone_number}}"><br>
            <input type='submit'>
        </form>
    </div>
</div>  