<style>
    .basket_container{
        display:flex;
        justify-content: space-evenly;
    }

    .bill{
        display:flex;
        flex-direction:column;
        width:250px;
        padding:20px;
        border:3px solid purple;
        border-radius:10px;
        position:relative;
    }

    .order_form{
        display:flex;
        flex-direction:column;
        width:200px;
    }

    .basket_item{
        display:flex;
        justify-content: space-between;
    }

    .basket_item p{
        margin:0px;
    }
</style>

<div class='basket_container'>
    <div class='bill'>
        <h3>your order: </h3>
        {{#each order}}
            <div class='basket_item'>
                <p>{{pizza_description.pizza_name}}: {{pizza_description.price}} tg</p> <p>x{{count}}</p>
            </div>
        {{/each}}
        <h3>total: {{totalcost}} tg</h3>
        <a href='/home/order/drop' class='delete'>drop</a>
    </div>

    <div class='order_form'>
        <form action='order/status' method='post'>
            <label>address: </label>
            <input type='text' name='address' value={{userdata.address}}>
            <label>phone number: </label>
            <input type='text' name='phone_number' value="{{userdata.phone_number}}"><br>
            <input type='submit'>
        </form>
    </div>
</div>  