<div class='orders_container'>
    {{#each orders}}
        <div class='order_card'>
            <p>address: {{this.address}}</p>
            <p>phone number: {{this.phone_number}}</p>
            <p class='order_date'>ordered date: {{this.date}}</p>
            <div class='order_basket_container'>
                {{#each this.basket}}
                    <p>{{this.pizza_description.pizza_name}} x{{this.count}}</p>
                {{/each}}
            </div>
        </div>
    {{/each}}
</div>